page-home {
    #imgs {
        width: 010%;
        margin-right: 70%;
        display: block;
    }

    #body {
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 40%;
    }



}
