    #imgs {
        width: 010%;
        margin-right: 70%;
        display: block;
        background-color: black;
        border-radius: 100%;
        object-fit: cover;
    }
    .toolbar-background {
        background-color: rgb(243, 239, 234);
      }
    .scroll-content{
        background: rgb(243, 239, 234);
    }
    .card-header{
        background-color: rgb(243, 239, 234);
        color: black;
    }
    .button{
        background-color:black;
            }
    .item {
        background-color: white
    }